@page
@model HotelRestaurantAPI.Pages.Management.ReceptionModel
@{
    ViewData["Title"] = "Breakfast reservations";
}

<div class="row-cols-2">
    <div class="col">
        <form method="Post" asp-page-handler="Redirect">
            <button type="submit">Go to Who had breakfast</button>
        </form>
    </div>
    <div class="col">
        <h3>Add guests for breakfast</h3>
        <br/>
        <div>
            <form method="Post">
                Date: <input class="form-control" asp-for="Input.Date" />
                <br/>
                <h4>Enter guest amount: </h4>
                <label for="aamount" title="Adults "></label>
                Adults:  
                <br/>
                <input id="aamount" type="number" asp-for="Input.AdultAmount">
                <br/>
                <label for="camount" title="Children "></label>
                Children:
                <br/>
                <input id="camount" type="number" asp-for="Input.ChildrenAmount">
                <br/>
                <br/>
                <button id="reservationSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Reserve breakfast</button>
            </form>
        </div>
        @if (Model.ReservationMessage != null)
        {
            <div class="alert alert-success" role="alert">
                <h2>
                    @Model.ReservationMessage
                </h2>
            </div>
        }
    </div>
    
</div>
